*{  
   box-sizing:border-box; 
}

.phone_no{
    display: inline-block;
    color:white;
    font-size: 100%;
    margin:1.5%;
    padding-left: 3em;
}
.navbar_bitemoji{
    width:2rem;
    height:2rem;
    border-radius:50%;
    position: absolute;   
}
.nav-link{
    text-align: center;
}

.container-fluid{
    position: sticky;
    top:20%;
    bottom:40%;
}
/*-----------------------------------------*/
.content_1 h2{
    font-weight: 400;
    font-size: 2rem;
    margin-left: 1%;
}
.content_1 h1{
    font-weight:500;
    font-size: 4rem;
    padding-left: 0%;
    line-height: 1.5em;
}
.aboutmebtn{
    border:none;
    width:50%;
    padding:3%;   
    font-family: 'Poppins', sans-serif;
    padding-left:7%;
    padding-right:7%;
    background-color: rgb(58, 52, 52);
    display: inline-block;
    margin-left: 1.5%;
    margin-top: 3%;   
}
.aboutmebtn a{
    text-decoration: none;
    color: white;
}
.content_1{
    padding-bottom: 2%;
    margin: 0%;
    padding:0%;  
}
.content_2 img{
    display:block;
    width:600px;
    max-width:100%;
    min-width: 10rem;
    height:auto;
    border-radius: 50%;
    border: 1.2em solid white;
    row-gap: 10%;   
}

.block_1{
    display: flex;
    background-color:#ec394b;
    justify-content: space-evenly;
    align-items: center;
    padding-top:9%;
    padding-bottom:10%;    
}

/*----------------block_2--------------*/
.content_3{
    display: inline-block;
    width:5.5rem;
    margin-top: 2%;
    margin-left: 40%;
    margin-bottom:4%;
    font-family: 'poppins';
    font-weight: 400;
    background-color:#ec384a;
    text-align: center;   
}

.content_4 {
   
    width:70%;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
    padding-left:11%;
    padding-right: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    border-radius: 5%;
}
.content_4 h2{
    font-weight:600;
    padding-bottom: 1%;
    margin-bottom: 3%;  
}
.content_4 span{
    font-weight: 400;   
}
.content_4 p{
    padding-left: 6%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:1.4rem;
    line-height: 2.5rem;
}
.block_2{ 
    padding-top:4%;
    padding-bottom:2%;
    padding-left: 7%;
    margin-bottom: 7%;
}

.content_5{ 
    display: flex;
    width:90%;
    padding-right: 19%;
    margin-top:5%;
    margin-left: 10%;
    justify-content: space-evenly;
    padding-left: 5%;
    gap:3%;
}
.style1{
    font-family: 'Roboto', sans-serif;
    font-weight:500; 
    font-size:1rem ;   
}
.style2{
    font-family: 'poppins';
    font-weight: bold; 
}
.myskills{
    display: inline-block;
    margin-left:18.5%;
    font-family: 'poppins';
    font-weight:500;
    font-size: 2rem;
}

.flex_progress{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: 18%;
    margin-top:8%;
    gap:10%;
}
.flex_progress_1{
    padding-top: 0%;
    margin-top:-5%;  
}

.progress{
    background-color: rgb(198, 196, 236);
   justify-content: space-between;
   width:80%;
   height:1rem;
}
.progress-bar_1{
    background-color: #fa2e43;
    width: 75%;
    justify-content: space-between;
}
.progress-bar_2{
    background-color: #fa2e43;
    width: 60%;
    justify-content: space-between;
}
.progress-bar_3{
    background-color: #fa2e43;
    width: 83%;
    justify-content: space-between;
}
.progress-bar_4{
    background-color: #fa2e43;
    width: 50%;
    justify-content: space-between;
}
.progress_bar span{
    font-family: 'poppins';
    text-align: center;
    padding-left:60%;
    color:white;
    font-weight: 500;
}
.skill_1{
    display: flex;
    margin-bottom: 5%;
    margin-top:4%;
    margin-left:16%;
    padding-left: 2%;
    gap:42.5%;
    justify-content:flex-start;
    font-family: 'poppins';
    font-weight:500;
}
.skill_2{
    gap:44%;
}
.resume{
    display: inline-block;
    margin-top:9%;
    margin-left: 42%;
    
}
.resume button{
    width:12em;   
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left:3%;
    padding-right:3%;
    border: 2px solid black;
    
}
.resume button a{
    text-decoration: none;
    color:black;
}
.resume button:hover{
    background-color: #cd3947;
    transition: 1s;
}
.block_3{
    margin-right: 0%;
    padding-top:14%;
    padding-bottom:10%;
    padding-left: 3%;
    margin-bottom: 0%;
    margin-top: 0%;
    background-color: rgb(231, 237, 243);
}
/*----------------------------------------------------*/
.contact{
    display: block;
    width:30%;
    margin-left: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'poppins';
    font-weight:600;
    font-size:1.5rem;
    text-align: center;
}
.contact_flexbox{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4%;
    padding-top: 3%;
}
.a{  
    margin-bottom: 4%;
}
.b{
    padding-top: -2%;
    margin-bottom: 4%;
}
.a11 span{
    font-family: 'poppins';
    font-weight: 600;
    line-height: 2.5rem;
    font-size: 1.2rem;
}
.a11 p{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
}
.a11{
    padding-bottom: 7%;
}
.b11 label{
    padding-top:2%;
    padding-right:2%;
    padding-bottom:2%;
}
.b11{
    padding:2%;   
}
.b11 input{
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid rgb(84, 74, 74);
    width: 90%;
    background: none;
}
.b3 label{
    padding-bottom:10%;
}
.submit_btn{
    margin-left:1%;
    margin-top:7%;
    padding:1%;   
}
.submit_btn button{
    width:7rem;
    font-family: 'poppins';
    font-weight: 500;
    padding:1%;    
}
.submit_btn button:hover{
    color: white;
    transition: 0.5s;
    background-color: rgb(45, 44, 44);
}
.block_4{    
    background-color:#ec394b;
}
.s1 a{
    text-decoration: none;
    color:black;
}
.media{
    display: flex;
    margin-top: 16%;
    margin-left:-3%;
    padding-top: 6%;
    justify-content: space-evenly;
}
@media all and (max-width:922px)  {
    .block_1{
        display: flex;
        flex-direction: column-reverse;
        background-color:#ec394b;
        justify-content: space-evenly;
        align-items: center;
        padding-top:12%;
        padding-bottom:10%;    
        
    }
    .mq1{
        padding:15%;
    }
    .content_1 h1{
        padding-bottom:1%;
        font-weight:500;
      font-size: 3rem;  
    }
    .content_1{
        
        text-align: center;
    }
    .content_1 h2{
        font-weight: 400;
        font-size: 2rem;
    }
   
    .content_3{
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left: -7%;
        text-align: center;
    }
    .content_4{
       
        text-align: center;
        padding:0%;
    }
    .content_5{
        display: inline-block;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 13%;
        line-height: 2em;  
        font-size: 1.1em;
        text-align: center;
        padding-top:3%;
    }
    .style1{
        font-family: 'Roboto', sans-serif;
        font-weight:500; 
        font-size:1.1rem ;   
    }
    .style2{
        padding-bottom:12%;
    }
    .block_2{
        text-align: center;
    }
    .block_3{
        text-align: center;
    }
    .myskills{  
        display: block;
        margin-left:0%;
        margin-right: 0%;
        margin-top:-6%;
        margin-bottom:5%;
        text-align: center;
    }
    .c_language{
        margin-left: -12%;
    }
    .resume{
        margin-top:15%;
        margin-left: 6%;
    }
    .contact_flexbox{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 8%;
        padding-left:22%;
        padding-right:20%;
       
    }
    .contact{
        padding-top:10%;
    }
    .submit_btn{
        margin-bottom: 15%;
    }
}